@font-face {
  font-family: 'TT Lakes';
  src: url('./font/TTLakes-Light.eot');
  src: url('./font/TTLakes-Light.eot?#iefix') format('embedded-opentype'),
  url('./font/TTLakes-Light.woff') format('woff'),
  url('./font/TTLakes-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('./font/TTLakes-Medium.eot');
  src: url('./font/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
  url('./font/TTLakes-Medium.woff') format('woff'),
  url('./font/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-color-tx);
  font-family: 'TT Lakes', sans-serif;
}
button {
  border: none;
  background-color: white;
  font-weight: 500;
}

header {
  padding: 20px 30px;
  border-top: 1px solid #D9FFF5;
  background: linear-gradient(to right, #F8F8F8, #FFFFFF);
}
h2 {
  font-weight: 100;
  color: #7E7E82;
  text-transform: uppercase;
}

.main__content {
  padding: 30px;
  background-color: #F8F8F8;
}

.brands {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 240px));
  gap: 10px;
}
.brand__card {
  height: 72px;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #EAEAEA;
}
.brand__icon {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand__icon::after {
  background: url(./img/go.png) no-repeat;
  min-width: 40px;
  min-height: 40px;
  content: '';
}
.brand__card:nth-child(n+9) {
  display: none;
}
.button {
  display: flex;
  align-items: center;
  background-color: #F8F8F8;
  font-weight: 500;
}
.brands__button {
  padding-top: 30px;
}
.button--open::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(./img/expand.png);
  text-align: center;
  transform: rotate(0deg);
}
.button--close::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(./img/expand.png);
  text-align: center;
  transform: rotate(180deg);
}
.swiper {
  display: none;
}

@media (min-width: 649px) and (max-width: 1024px) {
  h2 {
    font-size: 20px;
  }
  .brands {
    display: grid;
    grid-template-columns: repeat(3, minmax(195px, 240px));
    gap: 10px;
  }
  .brand__card:nth-child(n+7) {
    display: none;
  }
}

@media (min-width: 569px) and (max-width: 648px) {
  .brands {
    display: grid;
    grid-template-columns: repeat(2, minmax(195px, 240px));
    gap: 10px;
  }
  .brand__card:nth-child(n+5) {
    display: none;
  }
}

@media (max-width: 568px) {
  .brands,
  .brands__button {
    display: none;
  }
  .main__content {
    padding: 30px 0px 0px 0px;
  }
  h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .swiper {
    display: block;
    height: 120px;
    position: relative;
  }
  .swiper::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to left, transparent, #F8F8F8);
    width: 24px;
    height: 74px;
    z-index: 10;
  }
  .swiper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, transparent, #F8F8F8);
    width: 24px;
    height: 74px;
    z-index: 10;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    line-height: 20px;
    font-size: 12px;
    background-color: #B5B6BC;
  }
  .swiper-slide {
    width: 240px;
  }
}